.meus-filmes {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meus-filmes h1 {
  margin-bottom: 15px;
}
.meus-filmes span {
  font-size: 18px;
}
.meus-filmes ul {
  width: 720px;
}
.meus-filmes ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.meus-filmes div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.meus-filmes div a {
  text-decoration: none;
  color: rgb(223, 14, 14);
  margin-right: 15px;
}
.meus-filmes button {
  border: 0;
  padding: 10px;
  background-color: rgb(223, 14, 14);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
